In [1]:
import sys
sys.path.append('../')
from  mongo.lib.mongo_db  import db_conn
import pandas as pd
import numpy as np
from pyecharts import Bar,configure,Pie
import time
from es_select import ES
import itertools

In [2]:
def date_to_time(date):
    timeArray = time.strptime(date, "%Y%m%d")
    time_semp = time.mktime(timeArray)
    return time_semp   # 2013
def date_to_date(date):
    timeArray = time.strptime(date, "%a %b %d %H:%M:%S %Y")
    time_semp = time.strftime("%Y%m%d%H%M%S", timeArray);
    return time_semp   # 2013

def time_to_today(timeStamp):
    timeArray = time.localtime(int(timeStamp))
    timeArray =time.strftime("%Y-%m-%d %H:%M:%S",timeArray)
    return timeArray   # 2013

## 1、查询20181108日联通出现 5017 （尊敬的客户您好，系统检测您的访问过于频繁，为保障您的账户安全请明天再试。）

In [3]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181108'),'$lte':date_to_time('20181109')},'status':5017})
data1=list(data)

In [4]:
data1_rpt_pd=pd.DataFrame(x for x in data1)

## 2、将代理信息和目标URL取出，统计请求次数、使用代理数量、代理去重列表

In [5]:
def get_proxy(data1_rpt_pd):
    all_sid_http_proxy=[]
    for sid in data1_rpt_pd.sid.values.tolist():
        es=ES('20181109')
        one_sid_http_proxy={}
        #print (sid)
        ret_list=es.get_all_ret(sid)
        #print(len(ret_list))
        one_sid_http_proxy['sid']=sid
        one_sid_http_proxy['tel']=data1_rpt_pd.loc[data1_rpt_pd.sid.values==sid,'tel'].values.tolist()[0]
        one_sid_http_proxy['status']=data1_rpt_pd.loc[data1_rpt_pd.sid.values==sid,'status'].values.tolist()[0]
        one_sid_http_proxy['http_proxy']=[]
        one_sid_http_proxy['url_base']=[]
        one_sid_http_proxy['dates']=[]
        for i,one_http in enumerate(ret_list):
            one_sid_http_proxy['http_proxy'].append(one_http['_source']['MSG']['proxies']['http'].replace('http://','').split('.')[0])
            one_sid_http_proxy['url_base'].append(one_http['_source']['MSG']['url'])
            one_sid_http_proxy['dates'].append(date_to_date(one_http['_source']['DATETIME']))
        l = [(k, len(list(g))) for k, g in itertools.groupby(one_sid_http_proxy['http_proxy'])]
        one_sid_http_proxy['http_req_count']=l
        one_sid_http_proxy['req_count']=len(ret_list)
        one_sid_http_proxy['http_unique']=list(set(one_sid_http_proxy['http_proxy']))
        one_sid_http_proxy['http_unique_count']=len(one_sid_http_proxy['http_unique'])
        all_sid_http_proxy.append(one_sid_http_proxy)
    return all_sid_http_proxy

In [6]:
all_sid_http_proxy=get_proxy(data1_rpt_pd)

In [7]:
all_sid_http_proxy_pd=pd.DataFrame(x for x in all_sid_http_proxy)

In [8]:
all_sid_http_proxy_pd=all_sid_http_proxy_pd.fillna(0)

## 3、将数据按照手机号码组织，并获取单个客户的请求此次，使用的代理数量

In [9]:
def chain_l(l):
    ret_dict={}
    for one in l:
        if one[0] in ret_dict:
            ret_dict[one[0]]+=one[1]
        else:
            ret_dict[one[0]]=one[1]
    return ret_dict

In [10]:
import itertools
def get_new_tel_list(all_sid_http_proxy_pd):
    new_tel_list=[]
    for tel in all_sid_http_proxy_pd.tel.unique().tolist():
        new_tel_dict={}
        tmp=all_sid_http_proxy_pd.loc[all_sid_http_proxy_pd.tel.values==tel,['tel','req_count','http_req_count','http_unique_count','http_unique']]
        tmp=tmp.fillna(0)
        #print(tmp.shape)
        new_tel_dict['tel']=tel
        new_tel_dict['req_count']=tmp.req_count.values.sum()
        #print(tmp.http_req_count.values.tolist())
        l=list(itertools.chain(*tmp.http_req_count.values.tolist()))
        l_dict=chain_l(l)
        new_tel_dict['http_req_count']=tuple(l_dict.values())
        new_tel_dict['http_unique_count']=tmp.http_unique_count.values.sum()
        new_tel_dict['http_unique']= tuple(l_dict)
        new_tel_list.append(new_tel_dict)
    new_tel_pd=pd.DataFrame(x for x in new_tel_list)
    return new_tel_pd

In [11]:
new_tel_pd=get_new_tel_list(all_sid_http_proxy_pd)

## 4、当天只使用同一个代理但是被封的客户

In [12]:
filte=np.logical_and(new_tel_pd.http_unique_count.values==1,True)
tmp_1=new_tel_pd.loc[filte,['tel','req_count','http_unique_count','http_unique']]

In [13]:
tmp_1

            tel  req_count  http_unique_count    http_unique
6   13087896586        142                  1   (squidsz75,)
14  18685985968          2                  1   (squidsz10,)
15  18588702023        118                  1  (squidsz103,)
16  18608579082        132                  1   (squidsz77,)
19  15519601164        136                  1   (squidsz01,)
21  18585001331        124                  1   (squidsz75,)
23  15570515422        168                  1  (squidsz130,)
24  18666891559        146                  1   (squidsz98,)
26  15519636356        140                  1   (squidsz96,)
27  18606913615         17                  1   (squidsz75,)
29  15585284220        127                  1  (squidsz122,)
31  15572835478        157                  1   (squidsz82,)
32  15607201880        205                  1   (squidsz47,)
33  18664605028        115                  1   (squidsz07,)

### 发现  18685985968 和 18606913615 存在异常值，单查 18685985968

In [14]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181108'),'$lte':date_to_time('20181109')},'tel':{'$in':['18685985968','18606913615']}})
data2=list(data)
data2=pd.DataFrame(x for x in data2)
one_sid_http_proxy=get_proxy(data2)
one_tel_http_proxy_pd=pd.DataFrame(x for x in one_sid_http_proxy) 
one_tel_http_proxy_pd=get_new_tel_list(one_tel_http_proxy_pd)

In [15]:
one_tel_http_proxy_pd.loc[:,['tel','req_count','http_unique_count','http_unique']]

,tel,req_count,http_unique_count,http_unique
0,18606913615,17,1,"(squidsz75,)"
1,18685985968,520,13,"(squidsz80, squidsz81, squidsz82, squidsz109, ..."

### 由此可以看出当天 18685985968 当天也发生了多次请求，只有18606913615只发生了一次请求

### 接下来分析 代理squidsz75，在这次请求前后是否正常

In [16]:
def sid_get_err_code(sid):
    data=db_conn.sid_info.find_one({"sid":sid,},{'_id':0,'status':1})
    return data.get('status',1)

In [17]:
def sid_get_flow_type(sid):
    data=db_conn.sid_info.find_one({"sid":sid,},{'_id':0,'tel_info':1,'status':1})
    return data['tel_info']['flow_type']

In [20]:
def anly_one_ip_proxy(one_ip_proxy):
    es=ES()
    proxy_ret=es.get_proxy_ret(one_ip_proxy)
    del es
    one_sid_http_proxy_list=[]
    for one in proxy_ret:
        one_sid_http_proxy={}
        one_sid_http_proxy['http_proxy']=one_ip_proxy
        one_sid_http_proxy['url_base']=(one['_source']['MSG']['url'])
        one_sid_http_proxy['dates']=(date_to_date(one['_source']['DATETIME']))
        one_sid_http_proxy['sid']=((one['_source']['MSG']['sid']))
        one_sid_http_proxy_list.append(one_sid_http_proxy)
    one_sid_http_proxy_pd=pd.DataFrame(x for x in one_sid_http_proxy_list)
    #one_sid_http_proxy_pd.groupby('sid')['http_proxy'].size().reset_index()
    ip_proxy_sort_pd=one_sid_http_proxy_pd.groupby('sid')['dates'].max().reset_index().sort_values(by="dates")
    ip_proxy_sort_pd['status']=ip_proxy_sort_pd.sid.map(sid_get_err_code)
    ip_proxy_sort_pd['flow_type']=ip_proxy_sort_pd.sid.map(sid_get_flow_type)
    return ip_proxy_sort_pd.loc[ip_proxy_sort_pd.flow_type.values=='10010',:]

In [21]:
anly_one_ip_proxy('http://squidsz75.dianhua.cn:8080')

                                    sid           dates  status flow_type
34  SIDc571fa3ef9ff41d19319125d28e1d629  20181108042642       0     10010
8   SID48448543eec548d9ab80f27c49ea3b9e  20181108085918    3003     10010
3   SID1e3cfd49d9444375ab21823d566e6aaa  20181108101846       0     10010
32  SIDb15d9246e5944e92aabfd744cffbe9a0  20181108111331    5017     10010
18  SID76f4ebfb381a4a76b01ac64789f1efb0  20181108120309    3003     10010
20  SID7bef4b88ff444a99b0cd9a9f41639375  20181108130035    5017     10010
41  SIDdc1334c62c6448e5923fd65353ca9239  20181108134057       0     10010
1   SID06463d6054864c49b142f70a3e31f842  20181108141801       0     10010
44  SIDe41f6cac00cb4d2c8e159b90bacdaba7  20181108143805    3003     10010
28  SID9c948a08d3bb4a4e94a5470190967de1  20181108150951       0     10010
14  SID6a04d5dcdffc446db5f4f1b6fbbe6caa  20181108152855       0     10010
11  SID551e70adfd4042b5b18f68df71137ddc  20181108162527    5017     10010
29  SIDa37268374b734867892d7287d0dbf213  20181108170559    5017     10010
12  SID5a337924dc064bdfb8c66eb8c9c948d9  20181108174124    5017     10010
36  SIDccc1e82a7dd24b868cbc817edabe1e28  20181108193539       0     10010

#### 18606913615 当天发生的请求为 SIDb15d9246e5944e92aabfd744cffbe9a0 ，使用代理squidsz75，请求发送在上午11点，出现了请求频繁，该代理之后的其他会话中还是可以正常使用，并爬取成功，怀疑可能该客户当天通过其他渠道操作过账户。

## 5、使用多个代理被封情况分析
req_count 为请求官网次数

http_req_count 为http_unique中代理对应请求次数

http_unique_count 为使用代理个数

http_unique 为被使用过的代理

### A、使用代理数量超过1个的客户

In [ ]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,True)
tmp_2=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_2

### B、分析代理总调用次数小于100次的客户

In [ ]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,new_tel_pd.req_count.values<100)
tmp_3=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_3

#### 查看这些客户当日是否有其他返回码的请求

In [ ]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181108'),'$lte':date_to_time('20181109')},'tel':{'$in':tmp_3.tel.values.tolist()}})
data2=list(data)
data2=pd.DataFrame(x for x in data2)
some_sid_http_proxy=get_proxy(data2)
some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
some_sid_http_proxy_pd=get_new_tel_list(some_sid_http_proxy_pd)

In [ ]:
some_sid_http_proxy_pd

#### 这些用户当日不存在其他请求，由此推测可能是频繁变更IP地址引起封禁

### C、分析请求数量超过100的代理

In [ ]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,new_tel_pd.req_count.values>100)
tmp_4=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_4

#### 使用代理数量相对B情况要少，但是均存在某一个代理使用超过100的情况，可能是因为当日请求量超过阈值或者Ip地址发送变化引起

### D、分析C中代理使用量超过100的情况发生的时机

In [ ]:
def select_tel(tel):
    data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181108'),'$lte':date_to_time('20181109')},'tel':tel})
    data2=list(data)
    data2=pd.DataFrame(x for x in data2)
    some_sid_http_proxy=get_proxy(data2)
    some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
    some_sid_http_proxy_pd=some_sid_http_proxy_pd.loc[some_sid_http_proxy_pd.req_count.values>0,['sid','req_count','tel','status','dates']]
    some_sid_http_proxy_pd['dates']=some_sid_http_proxy_pd.dates.map(max)
    return some_sid_http_proxy_pd

In [ ]:
select_tel('13055410111')

In [ ]:
select_tel('18672485919')

#### 由此可以看出，18672485919 先发生了130次官网请求，然后重试有发生了一个15次的官网请求，在首次请求时已经触发封禁

## 5、结论
### 1）、单次爬虫事务中，如果短时间内请求官网超过115次，可能被封禁
### 2）、多次爬虫事务中，如果使用多个ip代理请求官网，超过3个ip将可能被封禁
### 3）、联通反爬策略为，tel+ip进行识别，相同ip不同客户、相互不干扰
### 4）、针对分析结果，建立爬虫代理池对该以上反爬策略无效

# 6、采样爬取成功的联通，分析

In [22]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181108'),'$lte':date_to_time('20181109')},'status':0,'crawler_channel':{'$exists':False},'tel_info.flow_type':'10010'}).limit(40)
data2=list(data)
data2=pd.DataFrame(x for x in data2)

In [23]:
some_sid_http_proxy=get_proxy(data2)
some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
some_sid_http_proxy_pd=get_new_tel_list(some_sid_http_proxy_pd)

In [24]:
some_sid_http_proxy_pd

,http_req_count,http_unique,http_unique_count,req_count,tel
0,"(53,)","(squidsz78,)",1,53,13034122298
1,"(5,)","(squidsz77,)",1,5,15590090119
2,"(69,)","(squidsz75,)",1,69,18660854098
3,"(5,)","(squidsz76,)",1,5,18679936272
4,"(25,)","(squidsz74,)",1,25,18502751143
5,"(40,)","(squidsz73,)",1,40,15629691616
6,"(7, 92)","(squidsz49, squidsz72)",2,99,18662014188
7,"(25,)","(squidsz71,)",1,25,18627730383
8,"(105,)","(squidsz50,)",1,105,13028222977
9,"(39, 2, 3, 44)","(squidsz48, squidsz30, squidsz27, squidsz32)",4,88,15559684366
10,"(31,)","(squidsz46,)",1,31,17671070739
11,"(7, 2, 111)","(squidsz37, squidsz39, squidsz43)",3,120,13142112945
12,"(38,)","(squidsz44,)",1,38,13205171626
13,"(22,)","(squidsz40,)",1,22,15620717994
14,"(2, 2, 143)","(squidsz34, squidsz35, squidsz36)",3,147,18615148628
15,"(81,)","(squidsz33,)",1,81,15696971082
16,"(7, 43)","(squidsz24, squidsz28)",2,50,18641933062
17,"(46,)","(squidsz25,)",1,46,15697262290
18,"(3, 2, 2, 31)","(squidsz02, squidsz04, squidsz05, squidsz22)",4,38,17690656622
19,"(6, 2, 93)","(squidsz126, squidsz01, squidsz21)",3,101,18658446610
20,"(16,)","(squidsz19,)",1,16,13195865693
21,"(5, 5, 30)","(squidsz20, squidsz08, squidsz127)",3,40,18607141368
22,"(73,)","(squidsz18,)",1,73,17507124522
23,"(5, 2, 37)","(squidsz17, squidsz16, squidsz15)",3,44,17691353943
24,"(58,)","(squidsz14,)",1,58,18612384927
25,"(32,)","(squidsz10,)",1,32,17612932801
26,"(2, 6, 33, 5)","(squidsz06, squidsz05, squidsz09, squidsz07)",4,46,15524191082
27,"(180, 2, 3)","(squidsz04, squidsz03, squidsz02)",3,185,18674058360
28,"(66,)","(squidsz01,)",1,66,15542278033
29,"(22,)","(squidsz128,)",1,22,17623229345
30,"(31,)","(squidsz126,)",1,31,17608910715
31,"(42,)","(squidsz124,)",1,42,18585473708
32,"(57,)","(squidsz123,)",1,57,17612741210
33,"(59,)","(squidsz125,)",1,59,18560901919
34,"(3, 89, 2)","(squidsz115, squidsz118, squidsz117)",3,94,13236620083
35,"(41,)","(squidsz120,)",1,41,18595177785

In [26]:
some_sid_http_proxy_pd.req_count.mean()

58.166666666666664

#### 当日成功的联通爬取平均使用代理次数为58