In [1]:
import sys
sys.path.append('../')
from  mongo.lib.mongo_db  import db_conn
import pandas as pd
import numpy as np
from pyecharts import Bar,configure,Pie
import time
from es_select import ES
import itertools

In [2]:
BEGIN_DATE='20181005'
END_DATE='20181006'

In [3]:
def date_to_time(date):
    timeArray = time.strptime(date, "%Y%m%d")
    time_semp = time.mktime(timeArray)
    return time_semp   # 2013
def date_to_date(date):
    timeArray = time.strptime(date, "%a %b %d %H:%M:%S %Y")
    time_semp = time.strftime("%Y%m%d%H%M%S", timeArray);
    return time_semp   # 2013

def time_to_today(timeStamp):
    timeArray = time.localtime(int(timeStamp))
    timeArray =time.strftime("%Y-%m-%d %H:%M:%S",timeArray)
    return timeArray   # 2013

## 1、查询20181005日联通出现 5017 （尊敬的客户您好，系统检测您的访问过于频繁，为保障您的账户安全请明天再试。）

In [4]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time(BEGIN_DATE),'$lte':date_to_time(END_DATE)},'status':5017})
data1=list(data)

In [5]:
data1_rpt_pd=pd.DataFrame(x for x in data1)

## 2、将代理信息和目标URL取出，统计请求次数、使用代理数量、代理去重列表

In [6]:
def get_proxy(data1_rpt_pd):
    all_sid_http_proxy=[]
    for sid in data1_rpt_pd.sid.values.tolist():
        es=ES(END_DATE)
        one_sid_http_proxy={}
        #print (sid)
        ret_list=es.get_all_ret(sid)
        #print(len(ret_list))
        one_sid_http_proxy['sid']=sid
        one_sid_http_proxy['tel']=data1_rpt_pd.loc[data1_rpt_pd.sid.values==sid,'tel'].values.tolist()[0]
        one_sid_http_proxy['status']=data1_rpt_pd.loc[data1_rpt_pd.sid.values==sid,'status'].values.tolist()[0]
        one_sid_http_proxy['http_proxy']=[]
        one_sid_http_proxy['url_base']=[]
        one_sid_http_proxy['dates']=[]
        for i,one_http in enumerate(ret_list):
            one_sid_http_proxy['http_proxy'].append(one_http['_source']['MSG']['proxies']['http'].replace('http://','').split('.')[0])
            one_sid_http_proxy['url_base'].append(one_http['_source']['MSG']['url'])
            one_sid_http_proxy['dates'].append(date_to_date(one_http['_source']['DATETIME']))
        l = [(k, len(list(g))) for k, g in itertools.groupby(one_sid_http_proxy['http_proxy'])]
        one_sid_http_proxy['http_req_count']=l
        one_sid_http_proxy['req_count']=len(ret_list)
        one_sid_http_proxy['http_unique']=list(set(one_sid_http_proxy['http_proxy']))
        one_sid_http_proxy['http_unique_count']=len(one_sid_http_proxy['http_unique'])
        all_sid_http_proxy.append(one_sid_http_proxy)
    return all_sid_http_proxy

In [7]:
all_sid_http_proxy=get_proxy(data1_rpt_pd)

In [8]:
all_sid_http_proxy_pd=pd.DataFrame(x for x in all_sid_http_proxy)

In [9]:
all_sid_http_proxy_pd=all_sid_http_proxy_pd.fillna(0)

## 3、将数据按照手机号码组织，并获取单个客户的请求此次，使用的代理数量

In [10]:
def chain_l(l):
    ret_dict={}
    for one in l:
        if one[0] in ret_dict:
            ret_dict[one[0]]+=one[1]
        else:
            ret_dict[one[0]]=one[1]
    return ret_dict

In [11]:
import itertools
def get_new_tel_list(all_sid_http_proxy_pd):
    new_tel_list=[]
    for tel in all_sid_http_proxy_pd.tel.unique().tolist():
        new_tel_dict={}
        tmp=all_sid_http_proxy_pd.loc[all_sid_http_proxy_pd.tel.values==tel,['tel','req_count','http_req_count','http_unique_count','http_unique']]
        tmp=tmp.fillna(0)
        #print(tmp.shape)
        new_tel_dict['tel']=tel
        new_tel_dict['req_count']=tmp.req_count.values.sum()
        #print(tmp.http_req_count.values.tolist())
        l=list(itertools.chain(*tmp.http_req_count.values.tolist()))
        l_dict=chain_l(l)
        new_tel_dict['http_req_count']=tuple(l_dict.values())
        new_tel_dict['http_unique_count']=tmp.http_unique_count.values.sum()
        new_tel_dict['http_unique']= tuple(l_dict)
        new_tel_list.append(new_tel_dict)
    new_tel_pd=pd.DataFrame(x for x in new_tel_list)
    return new_tel_pd

In [12]:
new_tel_pd=get_new_tel_list(all_sid_http_proxy_pd)

## 4、当天只使用同一个代理但是被封的客户

In [13]:
filte=np.logical_and(new_tel_pd.http_unique_count.values==1,True)
tmp_1=new_tel_pd.loc[filte,['tel','req_count','http_unique_count','http_unique']]

In [14]:
tmp_1

              tel  req_count  http_unique_count   http_unique
0     18583859293         15                  1  (squidsz33,)
1     18629867381         15                  1  (squidsz32,)
2     13068953458         16                  1  (squidsz31,)
3     17622997808         16                  1  (squidsz30,)
4     17687508704         15                  1  (squidsz28,)
5     17620464479         15                  1  (squidsz29,)
6     18566007600         23                  1  (squidsz27,)
7     13197773699         15                  1  (squidsz26,)
8     13027661720         16                  1  (squidsz25,)
9     13039438688         22                  1  (squidsz24,)
10    17695775778         23                  1  (squidsz21,)
11    17663226286         22                  1  (squidsz19,)
12    17688910385         15                  1  (squidsz16,)
13    13223705036         15                  1  (squidsz15,)
14    18587874825         15                  1  (squidsz13,)
15    17628031628         15                  1  (squidsz12,)
17    15604761047         15                  1  (squidsz09,)
19    13219129763         22                  1  (squidsz07,)
20    17681335277         15                  1  (squidsz06,)
21    18523125991         22                  1  (squidsz04,)
22    17629267445         22                  1  (squidsz01,)
23    18657756698         22                  1  (squidsz70,)
24    15539511159         16                  1  (squidsz68,)
26    13162133331         22                  1  (squidsz67,)
28    15634407959         15                  1  (squidsz61,)
30    18657638853         22                  1  (squidsz50,)
31    18559379728         15                  1  (squidsz48,)
35    15677562413         27                  1  (squidsz90,)
36    18555078901         15                  1  (squidsz81,)
38    18605763695         15                  1  (squidsz77,)
...           ...        ...                ...           ...
1063  15694988721         22                  1  (squidsz09,)
1065  13286114757         32                  1  (squidsz01,)
1066  13127862379         23                  1  (squidsz45,)
1067  13014396555         33                  1  (squidsz41,)
1068  15626814165         22                  1  (squidsz80,)
1069  17600653063         24                  1  (squidsz71,)
1070  15516216293         22                  1  (squidsz30,)
1071  18553753029         22                  1  (squidsz15,)
1072  17504707215         25                  1  (squidsz18,)
1074  13079198080         22                  1  (squidsz08,)
1078  17684269079         22                  1  (squidsz43,)
1079  18584298102         22                  1  (squidsz08,)
1080  18630037362         22                  1  (squidsz07,)
1081  17605654447         22                  1  (squidsz43,)
1082  13069168026         23                  1  (squidsz45,)
1083  15507635816         22                  1  (squidsz82,)
1085  13070629032         22                  1  (squidsz71,)
1086  13105933367         37                  1  (squidsz26,)
1087  17521757852         23                  1  (squidsz15,)
1088  18641868444         22                  1  (squidsz10,)
1089  13015567626         29                  1  (squidsz07,)
1091  13124676145         43                  1  (squidsz80,)
1094  16602123105         24                  1  (squidsz15,)
1096  17614343886         22                  1  (squidsz08,)
1097  13166385889         23                  1  (squidsz82,)
1098  15578636827         27                  1  (squidsz10,)
1099  17647434643         22                  1  (squidsz82,)
1100  13059870979         38                  1  (squidsz08,)
1103  15591508850         22                  1  (squidsz82,)
1104  18529297075         22                  1  (squidsz82,)

[813 rows x 4 columns]

### 将出现5017的客户按照手机号进行反查，查看当天调用量

In [15]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time(BEGIN_DATE),'$lte':date_to_time(END_DATE)},'tel':{'$in':tmp_1.tel.values.tolist()}})
data2=list(data)
data2=pd.DataFrame(x for x in data2)
one_sid_http_proxy=get_proxy(data2)
one_tel_http_proxy_pd=pd.DataFrame(x for x in one_sid_http_proxy) 
one_tel_http_proxy_pd=get_new_tel_list(one_tel_http_proxy_pd)

In [16]:
one_tel_http_proxy_pd.loc[:,['tel','req_count','http_unique_count','http_unique']]

,tel,req_count,http_unique_count,http_unique
0,13003096351,15,1,"(squidsz03,)"
1,13005187620,24,1,"(squidsz09,)"
2,13005786866,23,1,"(squidsz77,)"
3,13006821440,22,1,"(squidsz41,)"
4,13007575079,22,1,"(squidsz01,)"
5,13007718051,22,1,"(squidsz42,)"
6,13011025538,22,1,"(squidsz79,)"
7,13011818149,22,1,"(squidsz23,)"
8,13013395678,22,1,"(squidsz77,)"
9,13014188103,24,1,"(squidsz86,)"
10,13014371081,22,1,"(squidsz05,)"
11,13014396555,33,1,"(squidsz41,)"
12,13015567626,29,1,"(squidsz07,)"
13,13015969137,22,1,"(squidsz03,)"
14,13020166139,20,1,"(squidsz48,)"
15,13020755789,22,1,"(squidsz05,)"
16,13022028526,24,1,"(squidsz64,)"
17,13022428933,22,1,"(squidsz45,)"
18,13025260516,22,1,"(squidsz16,)"
19,13025725285,17,1,"(squidsz77,)"
20,13027661720,16,1,"(squidsz25,)"
21,13027677468,15,1,"(squidsz72,)"
22,13027904229,17,1,"(squidsz61,)"
23,13028130276,22,1,"(squidsz65,)"
24,13029165111,20,1,"(squidsz05,)"
25,13029233222,22,1,"(squidsz76,)"
26,13030839633,23,1,"(squidsz29,)"
27,13030875530,23,1,"(squidsz13,)"
28,13032968820,30,1,"(squidsz21,)"
29,13033836869,24,1,"(squidsz50,)"
...,...,...,...,...
783,18683456220,22,1,"(squidsz35,)"
784,18683658351,22,1,"(squidsz71,)"
785,18683698379,15,1,"(squidsz46,)"
786,18683862928,22,1,"(squidsz32,)"
787,18684136136,22,1,"(squidsz07,)"
788,18685435478,15,1,"(squidsz75,)"
789,18685671344,15,1,"(squidsz40,)"
790,18685745571,15,1,"(squidsz18,)"
791,18685772443,25,1,"(squidsz19,)"
792,18686130288,22,1,"(squidsz85,)"
793,18686321684,22,1,"(squidsz11,)"
794,18687111858,22,1,"(squidsz01,)"
795,18687300844,22,1,"(squidsz76,)"
796,18688827862,15,1,"(squidsz10,)"
797,18689324329,17,1,"(squidsz46,)"
798,18694718865,15,1,"(squidsz73,)"
799,18695113300,22,1,"(squidsz47,)"
800,18695306785,15,1,"(squidsz44,)"
801,18696764391,22,1,"(squidsz22,)"
802,18697114889,15,1,"(squidsz83,)"
803,18697162850,15,1,"(squidsz90,)"
804,18697443570,23,1,"(squidsz33,)"
805,18697966010,15,1,"(squidsz13,)"
806,18698011175,23,1,"(squidsz49,)"
807,18698337960,22,1,"(squidsz19,)"
808,18698629937,69,4,"(squidsz71, squidsz08, squidsz10, squidsz17)"
809,18698998484,22,1,"(squidsz67,)"
810,18699055510,22,1,"(squidsz16,)"
811,18699688311,22,1,"(squidsz26,)"
812,18699900629,22,1,"(squidsz75,)"

### 接下来分析 代理 squidsz40，在这次请求前后是否正常

In [17]:
def sid_get_err_code(sid):
    data=db_conn.sid_info.find_one({"sid":sid,},{'_id':0,'status':1})
    return data.get('status',1)

In [18]:
def sid_get_flow_type(sid):
    data=db_conn.sid_info.find_one({"sid":sid,},{'_id':0,'tel_info':1,'status':1})
    return data['tel_info']['flow_type']

In [19]:
def anly_one_ip_proxy(one_ip_proxy):
    es=ES(END_DATE)
    proxy_ret=es.get_proxy_ret(one_ip_proxy)
    del es
    one_sid_http_proxy_list=[]
    for one in proxy_ret:
        one_sid_http_proxy={}
        one_sid_http_proxy['http_proxy']=one_ip_proxy
        one_sid_http_proxy['url_base']=(one['_source']['MSG']['url'])
        one_sid_http_proxy['dates']=(date_to_date(one['_source']['DATETIME']))
        one_sid_http_proxy['sid']=((one['_source']['MSG']['sid']))
        one_sid_http_proxy_list.append(one_sid_http_proxy)
    one_sid_http_proxy_pd=pd.DataFrame(x for x in one_sid_http_proxy_list)
    #one_sid_http_proxy_pd.groupby('sid')['http_proxy'].size().reset_index()
    
    ip_proxy_sort_pd=one_sid_http_proxy_pd.groupby('sid')['dates'].max().reset_index().sort_values(by="dates")
    ip_proxy_sort_pd_t=one_sid_http_proxy_pd.groupby('sid')['http_proxy'].size().reset_index()
    ip_proxy_sort_pd=pd.merge(ip_proxy_sort_pd,ip_proxy_sort_pd_t,on=['sid'],how='left') 
    ip_proxy_sort_pd['status']=ip_proxy_sort_pd.sid.map(sid_get_err_code)
    ip_proxy_sort_pd['flow_type']=ip_proxy_sort_pd.sid.map(sid_get_flow_type)
    print(ip_proxy_sort_pd.http_proxy.sum())
    return ip_proxy_sort_pd.loc[ip_proxy_sort_pd.flow_type.values=='10010',:]

In [20]:
anly_one_ip_proxy('http://squidsz40.dianhua.cn:8080')

4657

,sid,dates,http_proxy,status,flow_type
1,SID257981f90a3c4af8aac85049c45f963b,20181005000930,27,0,10010
5,SIDcdf638c80ff849a192e36aa5f81e65a8,20181005002941,22,0,10010
7,SID1c0f2ea3a901484b8feb0be6bcf2231f,20181005005156,45,0,10010
10,SID10f6964c394143a089dc4a0956573a84,20181005011259,24,0,10010
13,SIDda90db255d34440385d7d6356720898b,20181005014918,32,0,10010
16,SID0e27630ecf164558b9bb013a69e9516a,20181005023033,5,0,10010
19,SIDaceabd1b75ce411b9863b1dd507b1078,20181005040645,32,0,10010
22,SID1b74adcec2bc484993c4bd0285f241a2,20181005062508,28,0,10010
25,SID029aaf2221ac4778a128188ca8fee931,20181005072914,2,5017,10010
29,SID962ff903e57742e89a23927cc0128098,20181005081321,36,0,10010
33,SIDc11d08ff57e5403f8c0a84cb5dc75bf4,20181005084735,7,4999,10010
37,SID9182caa52ac94048a147577f80b3c075,20181005091340,2,3003,10010
42,SIDe68cc72660e44de1a1a9c1b23ad8dbdb,20181005095134,29,0,10010
45,SID3765b3fba96740a0a46396dbbdda375f,20181005101108,26,0,10010
48,SIDba86cef9fc044577a31e2706cc51523a,20181005102417,5,0,10010
52,SIDce993ef86d594695bd3d36085f816369,20181005104632,22,0,10010
56,SIDe29730d15c484a328de3ed2ccad9ff90,20181005110439,25,0,10010
58,SID8f808f0c62b04bc4a88a43a56c64e30b,20181005111528,36,0,10010
61,SIDe88307cb033f445a94a5b1b0378e6fc0,20181005113111,28,0,10010
64,SIDf59b727008634c29a714df263456d1e9,20181005114910,2,5017,10010
66,SID62cffca1044843e4b7a94bff8c46ce71,20181005120223,3,0,10010
70,SIDc7f5806c68b84f9b859a6ca0d4a45d02,20181005121304,2,0,10010
74,SIDab654275c99246539b32fa15f2bb4a91,20181005123328,3,5017,10010
77,SID457a9956070044e6b0a93e3bd51e398f,20181005125049,14,0,10010
81,SID1f7958e789704586934fcc98ade2465b,20181005130714,32,0,10010
84,SID2b70a43ea37945dc813252a796e69f02,20181005132335,7,5017,10010
87,SIDe085981ff49c495789c773ee47d902e3,20181005133718,7,5017,10010
90,SID8ebd61c19bb349f5b7afd7d3e18effb1,20181005135400,8,4003,10010
93,SID3061b86b374942b79db91f997a593f39,20181005141039,26,0,10010
97,SID0d471a48841c4a2a934fe44520660039,20181005142446,6,4999,10010
101,SID274b7cfd09f04218ab91d7fed48590a3,20181005144359,15,0,10010
104,SIDcaaf96ff220249bda0f45ec3620843e8,20181005145710,22,5017,10010
107,SIDc4ce51c7fd6c429f9cb219bcd0d40fcc,20181005151018,6,3003,10010
111,SID2a1afec45de44460877aca8c9bbe17e6,20181005153245,8,3003,10010
114,SID52d8cd629a5845248372f6ac6b7747c1,20181005154826,19,0,10010
117,SID327d5ddbd4614f2ba1aab4985112304d,20181005160518,27,5017,10010
119,SID3d13d5f3acce4189bc9bf885f56b5dce,20181005162312,3,0,10010
122,SID919f1756df7547b7b6011cc61ce18b01,20181005164226,3,4999,10010
125,SID9c7d1c34e3b54212878d58b111738607,20181005165915,3,4999,10010
128,SID01517165f2c24b939a72c1590632947d,20181005171144,19,5017,10010
130,SIDc23becddc0dc4305b8e900ec45093f2a,20181005172451,22,5017,10010
133,SID915109db12b04606a230878fb4404c91,20181005173751,7,4999,10010
135,SID027e3bc69da4438b830211e21b0cf704,20181005175540,15,5017,10010
138,SID4f5906c8b2404114bf1ff0a7a05c5b91,20181005181513,15,5017,10010
140,SID9ce2ae47127449269feea00422c97864,20181005182823,15,5017,10010
142,SIDd0908fbf78b140e5a39d8971b1fac2d1,20181005185026,2,4999,10010
145,SIDe292d406fbaa44cfacf6f85db1471f0f,20181005191043,16,5017,10010
147,SID9df61a4ecc51482780dbcc9920c53954,20181005193459,15,5017,10010
151,SID1a109e211fed4bbc95137be432abb029,20181005200515,3,5017,10010
153,SIDad141684093b43478af6c737678c6eaf,20181005203310,22,5017,10010
156,SID918fc336e4304834b3d6bbfeba705ebf,20181005210918,22,5017,10010
159,SID3138e02c0b444b6395b8bb99a1bd3840,20181005214217,15,5017,10010
163,SID3d0e3c072a56405ea7e2f25f04a76c83,20181005223501,3,3003,10010
164,SID78052157b16747b3a817dfd7461ae82b,20181005230424,15,5017,10010

In [21]:
anly_one_ip_proxy('http://squidsz08.dianhua.cn:8080')

3066

,sid,dates,http_proxy,status,flow_type
0,SIDcefc3b9ba8f4468e8a9895603166e5c2,20181005000043,2,0,10010
4,SIDd4691bf160bc49afa86af0857bacd041,20181005002141,18,0,10010
6,SID87d7062f952747b0834e7c4304adb063,20181005004018,15,0,10010
9,SID37eac4cd21704d9f81f18d41670f9438,20181005010417,31,0,10010
12,SID0d342fdefc484ae78f7c23e771cbd0eb,20181005012939,40,0,10010
14,SID0ffc93035d4b4fc6a6fb95c366e57d87,20181005020703,28,0,10010
18,SIDf59c853f0f4e4630be1a42601d761c0a,20181005032645,3,0,10010
21,SIDbdf70c0179c7470e8c676f768427c07e,20181005052500,18,0,10010
24,SID650751eef8cf46f5997db66e4bc22eb4,20181005071435,36,0,10010
27,SIDe5663c5e5f9946159ef530b23c3732bb,20181005075541,31,0,10010
31,SIDf5db8d54661748bab365c1b30b41b7fb,20181005083212,26,0,10010
36,SID3fb604dc75794391928355e643509d0c,20181005090805,7,0,10010
40,SID5c18b50300cf4ad6b3726f5147c0fdba,20181005093350,28,0,10010
44,SID0939c8c3f11c4441a98ac6d979b75c4c,20181005100508,24,0,10010
47,SID9826f6a22a3c45479e5a7b423845db84,20181005102037,22,0,10010
50,SID5dff6bcd9059428eb4a5c9efe13f57fb,20181005103832,38,5017,10010
54,SIDa0048c9d37f64363891fed3ee29e05b3,20181005105751,16,0,10010
56,SIDabf2a9b62d004942ab8d221d792e37ab,20181005110947,22,5017,10010
59,SID95c9b1acc38745b39eec63476b0379f8,20181005112243,1,5017,10010
63,SID171dd8987f654e88a29eb63c773c7a58,20181005114424,22,5017,10010
66,SIDcbb11266bf6f467eb38de6bc2190184c,20181005115645,22,5017,10010
69,SID6acfddf88a884e978780fedebcf6d178,20181005120952,16,0,10010
72,SIDf6f6101f695f4c57b375c7ea12377b9a,20181005122513,7,5017,10010
76,SID72455f0039ad4619b56a5684a83862c2,20181005124238,7,0,10010
80,SID613c1873eeb842f38fca985524a69767,20181005130500,27,5017,10010
83,SID3b69c75fc43046e683892917417d6bfa,20181005131705,23,5017,10010
86,SIDe768b57c078043a294198cd4e1ef7a3d,20181005133239,7,5017,10010
89,SID6725931c656c4bb78d2cea806d101539,20181005134727,7,5017,10010
92,SIDff55a8f190f740b1b6adee844d69bf66,20181005140435,22,5017,10010
95,SIDdb179c674ca340b2aaf58ff20be580a2,20181005141902,15,0,10010
99,SIDfc1ca6dfd9b64d46956bce680e8bd210,20181005143644,2,4999,10010
103,SIDfb88d65fea3248f68f5dd7fc341efa57,20181005145252,22,5017,10010
106,SID290edb4c13fd482abf839a8e7ae4e6cc,20181005150629,25,5017,10010
108,SID8d91d378af834237807b1984c3a8878e,20181005152038,2,0,10010
111,SID28b722f7fc35460e94ff2129fa34aa14,20181005154145,22,5017,10010
115,SIDc96f04087b494efaa0be7958823b7693,20181005155735,22,5017,10010
118,SIDf49b9669ae804486957d1e24b36882dd,20181005161551,2,5017,10010
121,SIDf801ae2d6c95400abce711df25fcd094,20181005163325,3,0,10010
124,SIDcee242628e4047e7b6df0aea5d6765b0,20181005165023,2,5017,10010
127,SID5481b20cbeeb474baaa6056b88a01928,20181005170639,21,0,10010
129,SID036543ab71d74c439208025f96267546,20181005172009,15,5017,10010
132,SID2897641152bd41f9a1f9283fef876566,20181005173335,17,0,10010
134,SID34ddaf63ebaf4137a68540255daaff42,20181005174855,21,5017,10010
137,SID22175699e4b042419bc0c7130152a66b,20181005180724,14,5017,10010
139,SID6777271c58ee41b893d5eb4f2d6a9903,20181005182047,6,5017,10010
141,SID84abcde98b2140e6a3696ba036603c60,20181005184024,15,5017,10010
144,SID4c847286f4144c36844ebca1a1c5c885,20181005190203,2,5017,10010
146,SID5f5a53c075734e55b315ac4320f8c208,20181005192240,5,0,10010
149,SID8334f3ae948f41c3b410e32ad2234106,20181005195117,2,5017,10010
152,SID6d828f24e4784e12a7495e53945a3624,20181005202002,22,5017,10010
155,SID633582f5c9bb4f8590f23a3f0da5915b,20181005205248,22,5017,10010
158,SIDe4ad989fc70840f69c780662f48ff7de,20181005212801,7,5017,10010
162,SID249acc5f83bd46ca8f3bf65f00c67aab,20181005220941,3,3003,10010
164,SIDba0107b1c9f343028aa514d1d6d7d804,20181005224922,2,3003,10010
166,SID19092c754c854e91b05febac0e9e6505,20181005234330,15,5017,10010

In [22]:
anly_one_ip_proxy('http://squidsz09.dianhua.cn:8080')

3531

,sid,dates,http_proxy,status,flow_type
0,SID9b18585e0f8548f6879b87e545a9d5b3,20181005000159,4,3003,10010
3,SID0c2c63b5ce254d9a8ed8d9e507cfe8ea,20181005002125,2,0,10010
5,SID6053a012f6224cc7acdbfd8f65f75d8a,20181005004138,39,0,10010
7,SIDe8c19fbe08f14715a7ca4ca32104321a,20181005010344,3,5017,10010
11,SID001a49316a084c85af44692963a4386c,20181005012950,5,0,10010
13,SIDd31d07ebf99f49bb9c65bafe528d1ee2,20181005020813,32,0,10010
17,SID470827b282f44ed99f67a325905d0edc,20181005032712,17,0,10010
20,SID92566487a1a745fa9d880b4d0b854af2,20181005053514,33,0,10010
23,SIDc7de5c1baf7e4c9bbd83f1ff05b5a99f,20181005071452,24,0,10010
26,SIDfb0949982b004413a1a66a4acbaf2ed6,20181005075541,34,0,10010
30,SID9ef175816df54b0ea5b83512323fc6b4,20181005083252,54,0,10010
35,SIDf3d4e3d8095549de917a0e68eadd2418,20181005090926,36,0,10010
39,SID51132464ebfe4c3ea464edf8cc63fcaa,20181005093337,6,5017,10010
43,SID9facd2d7ae8d4d65b5959be650153b22,20181005100126,4,0,10010
46,SIDcfa10996b1464c168f3b172dc148b7d6,20181005102004,2,4999,10010
49,SID3f4ff6d321324a0a9bf8ba22ec5a4367,20181005103927,42,0,10010
53,SIDea88c7abac6d4a728eec1efde5f055ed,20181005105738,33,0,10010
56,SID3bdc2343232e46b0836fcfa70eaa5655,20181005111040,37,0,10010
58,SID3a9316460e2547fcb6b915a11ad0cfbe,20181005112338,21,0,10010
62,SID78081d6296bf4a0fb4cccceb94adbe9d,20181005114404,14,0,10010
65,SIDf59b727008634c29a714df263456d1e9,20181005115625,15,5017,10010
68,SID7104852fe32f4daa8985899da26bca0d,20181005121003,22,5017,10010
74,SID4fd036430a4140419485d20fba498ea2,20181005124333,20,0,10010
76,SID7c9c8a59ca5f465199a89b6aa9ee3c76,20181005130217,2,0,10010
80,SIDaa4f3432302f4c81b4e03eff1fa3e6f8,20181005131645,15,5017,10010
83,SIDe72ae6dd90bd4d0b99020d23746b0d13,20181005133313,10,0,10010
86,SID8f663f7738414972aca998ed00af6a9f,20181005134746,15,5017,10010
89,SID06e99d454ec9467e9bb06d41acfa0443,20181005140543,22,5017,10010
93,SID7128946a168f4c0d85a7e48799909917,20181005142322,9,5017,10010
96,SIDfc1ca6dfd9b64d46956bce680e8bd210,20181005143707,2,4999,10010
100,SID66b6bd13c82749f4b0da9cc407e8fb1c,20181005145156,2,5017,10010
103,SID80ac5c56201e4374925b95e384eadb5f,20181005150617,22,5017,10010
106,SID4af0d969f2f34427a0fa8e9d7e1de98a,20181005152231,22,5017,10010
109,SID0e340e350cb3400f93cc37b65e9e889f,20181005154125,3,5017,10010
113,SID0d067cb715e149c2bfcfe8072654ed4f,20181005155810,22,5017,10010
116,SID60a63dbc5c154257a35eedf8da4a7cb4,20181005161720,25,0,10010
119,SID411d74cd6f0f4e4484f18b829b146693,20181005163404,22,5017,10010
122,SID16237e46e27d49579b3a0c8bd69253d4,20181005165035,2,5017,10010
124,SIDc5fee3d0336645ac9a19b46d0ce054f6,20181005170528,5,0,10010
127,SIDa57cbf0423744a5a919aabbeb02a12a4,20181005172016,22,5017,10010
130,SID09ee66401ca2455cb38c3c67868557ce,20181005173352,20,0,10010
132,SID6567dcd90f0d458c9df8f02640efde41,20181005174809,36,0,10010
135,SIDd83ffadc968e4d0ca1c85fdbf90aa2c9,20181005180659,5,0,10010
137,SID428745c41a924c7e8e130508c22fff57,20181005182028,2,5017,10010
139,SID559d7f7f4322456ca3bb1ab905bc9342,20181005184019,22,5017,10010
141,SID203ebd2ce7124a2f8ef012160a52e897,20181005190218,2,5017,10010
143,SIDf2e0fada8f254e64a3fa0d1688daca91,20181005192355,22,5017,10010
146,SID8334f3ae948f41c3b410e32ad2234106,20181005195133,2,5017,10010
149,SID3be1102f64184d3391dfabbcbb99f28c,20181005201947,19,5017,10010
152,SIDdd13f0534c1d4731a257b22cde6a8bf5,20181005205347,24,5017,10010
155,SIDb5516ef965c040d4b7098ddcd8f6b164,20181005212821,19,0,10010
159,SID8d546960cd554ccf99c92064d578ddb2,20181005221026,22,5017,10010
161,SID43b99309fa8c4d64afde76c10db3215d,20181005225139,16,5017,10010
163,SIDfc2a734bd05f48e49afa649a1d6a523b,20181005234408,15,5017,10010

In [23]:
anly_one_ip_proxy('http://squidsz32.dianhua.cn:8080')

3998

,sid,dates,http_proxy,status,flow_type
1,SID731029da7bd041379903485bdbfa3285,20181005000733,2,0,10010
5,SID12c456dc9b584f0789d217442661006b,20181005002709,38,0,10010
7,SIDe17d9ff4e4a24f3fae518881c87bce96,20181005004920,17,0,10010
10,SIDf56113d873a643e8a82795b1394fce8f,20181005011002,45,0,10010
13,SID0897e92d78fb480ba5f28d8eaf406e4e,20181005014521,32,0,10010
15,SID89da3c28132644b7879146ba8c9fec64,20181005022423,2,3003,10010
19,SIDf1a286a06ea14a8e8318743dbcb7f26a,20181005034653,27,0,10010
22,SIDc8e52fbe910c400f937a17b10b4d7025,20181005061440,8,3003,10010
25,SID66a2c51c9bd8419299bdf1c3e94aa959,20181005072313,32,0,10010
29,SID96f782cf54d2489091da287c3a1ca3ff,20181005081103,27,0,10010
33,SIDe42bdb07e9b34b13a1af49c227f6265b,20181005084555,30,0,10010
37,SID678630fe5e984b6bbe3dea98858af6e7,20181005091355,39,0,10010
42,SID22ee472d56f04eb38cf32f32a4b103ff,20181005094733,24,0,10010
45,SID1846c1770e00443ea532034eeccbb397,20181005100654,1,5017,10010
48,SIDdad43a31d5b7471aae066a295d53e34b,20181005102318,42,0,10010
51,SIDcc35f54e45144085aeb7f60ab0833e11,20181005104212,3,0,10010
56,SID0dd7e9612e4f4ce08c123b4afebd2cb0,20181005110502,65,0,10010
58,SIDc5b4606dabaa4cd58fd51b706446d0fe,20181005111403,24,0,10010
60,SIDf1ecbaa1f30d4ecaad2c35ec20a2d5ae,20181005112717,2,0,10010
64,SIDf59b727008634c29a714df263456d1e9,20181005114853,7,5017,10010
67,SID4d04c015f0ab4a56b88213a504e62054,20181005120035,36,0,10010
70,SID117627b486f640389a132f8bd6c2af67,20181005121223,26,5017,10010
74,SID7986b1e5156043f3ad21acbd8f6b350a,20181005123211,22,5017,10010
77,SID3b320484a875409fbe78ed3278d9339e,20181005124956,7,5017,10010
81,SIDcdafa4a58751470c956d05288128a20a,20181005130606,16,0,10010
84,SID232bf515c2a34083bafc8377fae770a6,20181005132045,2,5017,10010
87,SIDbed7725142b541a785f6136c5ee4dbfa,20181005133833,8,5017,10010
90,SID65abe23240ef498e9b5755f6e51b80e3,20181005135230,20,5017,10010
93,SID3c04bee613d84bf1a057ec475eb15ab5,20181005140846,7,3003,10010
96,SIDbf7b857a1557492bb9d6af1841e9b64c,20181005142221,2,5017,10010
101,SID2138b1980f574eba801d48916e5eabc0,20181005144337,27,5017,10010
104,SIDb8806e86c41c4e4d9c6a00bd59d46ddd,20181005145450,2,0,10010
107,SID3c661c08a56f4daf900c173eae9d7e3a,20181005150944,22,5017,10010
110,SIDaeef42c2d0154a44a30bcd7c79f105a4,20181005152936,30,0,10010
114,SID8d91d378af834237807b1984c3a8878e,20181005154625,16,0,10010
118,SIDfa36d77b270745ec8cf813b138af3987,20181005160418,16,0,10010
120,SID31288f366cba4f8a85d4e636fa43a4fd,20181005162157,22,5017,10010
123,SIDfdd9cfa0f0da4b33930817e85c79c048,20181005164140,17,0,10010
126,SID48b01a5b8c15441c906debe197fa50b4,20181005165716,19,0,10010
129,SID843f6711d35a442ab05cb1ac0c87b02e,20181005171039,16,5017,10010
131,SID9d10d6b438d14cdd99ad0a966bce81a9,20181005172211,2,5017,10010
133,SIDcd3eca5ebff04b8e90090c7eca20160d,20181005173550,2,5017,10010
136,SIDb55ccf15bcb94f8d9eac17229bb96d14,20181005175310,22,5017,10010
139,SID32560194aba54ef6b2665f3ddbf47603,20181005181309,15,5017,10010
141,SID578efef45b8b47b68248997e4866b464,20181005182625,7,3003,10010
143,SID8ebc78ad6f844d4cb0bd82756424aa26,20181005184835,3,5017,10010
146,SIDca9419fa60cd4add9054c02f7666d147,20181005190812,15,5017,10010
148,SID7eb7556c82ef4c7399312a60a86da8bf,20181005193201,15,5017,10010
152,SIDcaddc1928a7d4e46a4a32452d975cffc,20181005200406,24,5017,10010
154,SIDafb3049bdb1f4e1ba5beb6b8b9a3537a,20181005202823,20,0,10010
157,SID03823acae2b74a42a9666d2003abd9b3,20181005210424,22,5017,10010
160,SID1f44d3dd908a407ba0aa353d2acbc8ee,20181005213807,22,5017,10010
164,SIDb7a5dbec3be44cfb9317677c0ec504e8,20181005223007,22,5017,10010
165,SID191cd0ed142e4a7b9ba264e43013d616,20181005225857,2,5017,10010
168,SID2afbbf9aba044b7ca4e763feda083fa3,20181005235836,15,5017,10010

In [24]:
anly_one_ip_proxy('http://squidsz35.dianhua.cn:8080')

3836

,sid,dates,http_proxy,status,flow_type
2,SIDa449407251c94c728d4b3ced6cf7f9d4,20181005000920,53,0,10010
6,SIDdf4551488b9545f290a7f69655d51552,20181005005042,28,0,10010
9,SIDc613d72eab334e13a64347e7945274df,20181005011038,40,0,10010
14,SIDea8291c61f5b477990ae2e6b1072e80e,20181005022758,2,4999,10010
17,SID3727da9bf5b749c194dc9f4b83a04891,20181005035028,7,0,10010
20,SIDc8e52fbe910c400f937a17b10b4d7025,20181005061646,7,3003,10010
23,SID029aaf2221ac4778a128188ca8fee931,20181005072843,3,5017,10010
27,SID348d21b2604441979634aedb82270a07,20181005081207,62,0,10010
31,SID6782260f757147dca876fb9b4e76d20a,20181005084601,23,0,10010
35,SID7159b301876249a9b6fee9900c3122d2,20181005091354,36,0,10010
40,SID23c07e8729c749f087b0b76333b8ac55,20181005094944,7,4116,10010
43,SIDc1396193617f4c05a2d563e39477ae92,20181005100914,28,0,10010
46,SID7faa5e838ff54b5589b38a4968b80ed2,20181005102352,31,0,10010
50,SID1a6e3f31f8dc4bed8975dd23b2c69e38,20181005104340,31,0,10010
53,SID6fa2aa1d337e4982b42fe9617b2f2701,20181005110144,2,0,10010
56,SIDee97b1f70ae9488f91c050479f0f7cac,20181005111539,8,4003,10010
58,SIDf1ecbaa1f30d4ecaad2c35ec20a2d5ae,20181005112857,24,0,10010
62,SIDedffa0bb268d4fe8a027b1b16530a675,20181005114846,2,4999,10010
66,SID9ff2d5b9fa844054b3b061b24722eed5,20181005120537,35,0,10010
68,SIDc7f5806c68b84f9b859a6ca0d4a45d02,20181005121229,3,0,10010
72,SID1c10c20ebfec4c25b330d05bafd72f5d,20181005123411,24,0,10010
75,SIDcbcf398e3ad84e50ab9bf07364ee4d58,20181005124744,5,0,10010
79,SID591112d521f04654a5097465ba4900c0,20181005130855,8,3003,10010
84,SID5ba6faf11cdd4fe98d0345a3a24d9c23,20181005133638,31,0,10010
87,SID908e407a373a4a578520ecd77d110745,20181005135353,28,0,10010
90,SIDce79b36baffe49d48d5f11b3b6b63bc1,20181005140826,19,5017,10010
94,SID6ed53007d36e4f4f883d5227b4389c9e,20181005142350,7,5017,10010
98,SIDe0d7a65ca5d54a748a31a960fbd6b457,20181005144332,24,5017,10010
101,SID7afe72c294c944ab99f3ce1f9bb16d95,20181005145610,22,5017,10010
104,SID395d7e66d82b4b1ea03b623d1e599212,20181005150939,20,5017,10010
108,SIDe9737dd537094fe899e1d94f84c57c0e,20181005153009,25,0,10010
111,SID8f316c74f2b3407580c6548ff17ae17f,20181005154718,8,4003,10010
114,SID864792d2cb96480382e8321d63cf3715,20181005160422,3,5017,10010
118,SID20da6bab0d4446e3b56066dd018c5414,20181005162559,8,4999,10010
120,SIDd1c0c56d83854891b3105148a4e7b5e6,20181005164235,23,5017,10010
123,SID6bd90ce9740e4b779c3a17cf6e1e89bb,20181005165814,15,5017,10010
126,SID99954074a1d04993acfae2a8ad25a47d,20181005171050,15,5017,10010
128,SID5649d380b55044f081d47c759fb02c1b,20181005172448,15,5017,10010
130,SID04f1654f98fd4568a82446f98419c121,20181005173648,15,0,10010
133,SID65d9d3af36784e7f98a6d6d2b9f3c7d9,20181005175410,15,5017,10010
136,SIDcd3eca5ebff04b8e90090c7eca20160d,20181005181353,6,5017,10010
138,SIDb43912ea80a840d287b11952e70c500b,20181005182720,15,5017,10010
141,SID7cd546f237984a888e2333b81dfccc6a,20181005184942,19,5017,10010
143,SIDb59d31e893644fb2bd1547f1141643e8,20181005190812,2,0,10010
145,SID5ea41e7fbaf2496a896b064f796d52e1,20181005193340,17,0,10010
149,SID34796a2ba37542e9a2fc70a63865d0a0,20181005200441,16,0,10010
151,SIDbe52726d756e4b56bd43d9c2ba49ac4d,20181005203101,15,5017,10010
154,SIDb7a0da4c8f84405dac0a97ccd913b93e,20181005210641,15,5017,10010
157,SID827c17031fdd47ecbf1405678962ea78,20181005213941,24,5017,10010
161,SID9b25a0c571d441eabdefc9dac9a23c03,20181005223307,22,5017,10010
162,SID7954be2d4e75479ab9a03380f90b6274,20181005225939,2,3003,10010

#### 出现了请求频繁，该代理之后的其他会话中还是可以正常使用，并爬取成功，有的代理在后续的会话中不再成功。

## 5、使用多个代理被封情况分析
req_count 为请求官网次数

http_req_count 为http_unique中代理对应请求次数

http_unique_count 为使用代理个数

http_unique 为被使用过的代理

### A、使用代理数量超过1个的客户

In [25]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,True)
tmp_2=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_2

,tel,req_count,http_req_count,http_unique_count,http_unique
16,13256371703,30,"(15, 15)",2,"(squidsz10, squidsz87)"
18,18600950951,37,"(15, 22)",2,"(squidsz08, squidsz03)"
25,13036666967,30,"(15, 15)",2,"(squidsz69, squidsz90)"
27,13004960337,29,"(22, 7)",2,"(squidsz66, squidsz64)"
29,17623647465,30,"(15, 15)",2,"(squidsz62, squidsz49)"
32,16607597250,38,"(16, 22)",2,"(squidsz46, squidsz41)"
33,18602064639,37,"(15, 22)",2,"(squidsz43, squidsz89)"
34,17677563578,81,"(9, 6, 8, 2, 6, 4, 10, 6, 2, 7, 2, 7, 2, 6, 2, 2)",16,"(squidsz48, squidsz28, squidsz89, squidsz32, s..."
37,13178239059,27,"(4, 23)",2,"(squidsz74, squidsz78)"
41,15691405608,34,"(3, 2, 22, 5, 2)",5,"(squidsz25, squidsz28, squidsz71, squidsz36, s..."
44,17521775051,42,"(2, 2, 21, 6, 7, 2, 2)",7,"(squidsz27, squidsz30, squidsz39, squidsz26, s..."
45,18639888315,27,"(6, 15, 6)",3,"(squidsz73, squidsz33, squidsz10)"
48,18655459887,30,"(7, 6, 2, 15)",4,"(squidsz77, squidsz82, squidsz84, squidsz20)"
55,17605056966,29,"(15, 14)",2,"(squidsz67, squidsz08)"
60,18596303032,88,"(15, 15, 4, 2, 15, 2, 2, 7, 2, 2, 22)",11,"(squidsz49, squidsz72, squidsz81, squidsz77, s..."
64,18678684568,57,"(2, 2, 7, 15, 7, 22, 2)",7,"(squidsz72, squidsz75, squidsz89, squidsz43, s..."
66,18613140335,43,"(2, 2, 15, 9, 15)",5,"(squidsz74, squidsz80, squidsz87, squidsz41, s..."
68,15621775789,22,"(7, 15)",2,"(squidsz76, squidsz83)"
79,18677426653,30,"(15, 15)",2,"(squidsz23, squidsz22)"
82,18675158676,37,"(15, 22)",2,"(squidsz19, squidsz14)"
83,13072851570,25,"(22, 3)",2,"(squidsz18, squidsz15)"
92,17623358283,37,"(15, 22)",2,"(squidsz02, squidsz70)"
94,17681643139,80,"(8, 11, 8, 4, 7, 8, 6, 6, 22)",9,"(squidsz77, squidsz13, squidsz32, squidsz89, s..."
98,13084440006,39,"(15, 7, 15, 2)",4,"(squidsz62, squidsz08, squidsz17, squidsz12)"
106,17640109250,37,"(15, 22)",2,"(squidsz41, squidsz34)"
109,15683737507,41,"(7, 6, 26, 2)",4,"(squidsz78, squidsz81, squidsz84, squidsz82)"
110,13256933307,32,"(2, 2, 3, 3, 22)",5,"(squidsz74, squidsz80, squidsz77, squidsz71, s..."
125,18519130519,7,"(4, 1, 1, 1)",4,"(squidsz13, squidsz16, squidsz19, squidsz20)"
127,15564270123,39,"(6, 2, 7, 22, 2)",5,"(squidsz02, squidsz04, squidsz06, squidsz14, s..."
128,17557209792,27,"(22, 2, 3)",3,"(squidsz07, squidsz05, squidsz03)"
...,...,...,...,...,...
1005,17615007672,45,"(16, 7, 22)",3,"(squidsz71, squidsz33, squidsz26)"
1008,13298877028,89,"(35, 9, 45)",3,"(squidsz23, squidsz04, squidsz76)"
1010,15568294765,33,"(22, 7, 4)",3,"(squidsz25, squidsz14, squidsz01)"
1014,18575633133,29,"(2, 27)",2,"(squidsz70, squidsz08)"
1017,18500193308,35,"(6, 22, 7)",3,"(squidsz43, squidsz50, squidsz85)"
1019,17688794841,29,"(7, 22)",2,"(squidsz79, squidsz87)"
1021,16608707114,39,"(15, 22, 2)",3,"(squidsz82, squidsz75, squidsz73)"
1024,13113060025,36,"(22, 3, 2, 2, 2, 3, 2)",7,"(squidsz71, squidsz43, squidsz49, squidsz12, s..."
1031,13114909070,27,"(22, 5)",2,"(squidsz13, squidsz64)"
1034,18683725717,31,"(7, 2, 22)",3,"(squidsz16, squidsz22, squidsz87)"
1035,15577144455,29,"(7, 2, 20)",3,"(squidsz72, squidsz78, squidsz80)"
1036,13152166973,29,"(3, 2, 22, 2)",4,"(squidsz40, squidsz76, squidsz82, squidsz73)"
1041,13268223358,45,"(20, 25)",2,"(squidsz31, squidsz15)"
1042,18656690029,25,"(22, 3)",2,"(squidsz29, squidsz17)"
1044,13044372003,29,"(7, 22)",2,"(squidsz08, squidsz11)"
1057,18518537474,44,"(7, 3, 2, 2, 26, 2, 2)",7,"(squidsz12, squidsz21, squidsz23, squidsz20, s..."
1061,18680217859,52,"(7, 9, 36)",3,"(squidsz34, squidsz38, squidsz11)"
1064,13202288277,28,"(23, 2, 3)",3,"(squidsz07, squidsz03, squidsz68)"
1073,15631238661,37,"(10, 2, 25)",3,"(squidsz71, squidsz42, squidsz13)"
1075,17585073754,24,"(7, 2, 15)",3,"(squidsz32, squidsz40, squidsz09)"
1076,15632228584,28,"(2, 2, 24)",3,"(squidsz01, squidsz02, squidsz70)"
1077,17693223486,43,"(2, 3, 2, 36)",4,"(squidsz31, squidsz27, squidsz34, squidsz68)"
1084,16630503539,75,"(31, 44)",2,"(squidsz39, squidsz43)"
1090,15506985023,8,"(3, 1, 1, 1, 1, 1)",6,"(squidsz42, squidsz62, squidsz70, squidsz08, s..."
1092,15520002444,54,"(7, 42, 2, 3)",4,"(squidsz18, squidsz30, squidsz27, squidsz24)"
1093,13124281354,14,"(3, 3, 2, 3, 1, 1, 1)",7,"(squidsz62, squidsz69, squidsz04, squidsz06, s..."
1095,18650783771,16,"(3, 2, 3, 2, 3, 1, 1, 1)",8,"(squidsz47, squidsz61, squidsz66, squidsz01, s..."
1101,13230109585,13,"(3, 2, 2, 3, 1, 1, 1)",7,"(squidsz47, squidsz62, squidsz50, squidsz33, s..."
1102,18565156334,5,"(1, 3, 1)",3,"(squidsz32, squidsz26, squidsz30)"
1105,13060038553,15,"(3, 3, 2, 1, 3, 1, 1, 1)",8,"(squidsz35, squidsz74, squidsz40, squidsz78, s..."

### B、分析代理总调用次数小于100次的客户

In [26]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,new_tel_pd.req_count.values<100)
tmp_3=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_3

,tel,req_count,http_req_count,http_unique_count,http_unique
16,13256371703,30,"(15, 15)",2,"(squidsz10, squidsz87)"
18,18600950951,37,"(15, 22)",2,"(squidsz08, squidsz03)"
25,13036666967,30,"(15, 15)",2,"(squidsz69, squidsz90)"
27,13004960337,29,"(22, 7)",2,"(squidsz66, squidsz64)"
29,17623647465,30,"(15, 15)",2,"(squidsz62, squidsz49)"
32,16607597250,38,"(16, 22)",2,"(squidsz46, squidsz41)"
33,18602064639,37,"(15, 22)",2,"(squidsz43, squidsz89)"
34,17677563578,81,"(9, 6, 8, 2, 6, 4, 10, 6, 2, 7, 2, 7, 2, 6, 2, 2)",16,"(squidsz48, squidsz28, squidsz89, squidsz32, s..."
37,13178239059,27,"(4, 23)",2,"(squidsz74, squidsz78)"
41,15691405608,34,"(3, 2, 22, 5, 2)",5,"(squidsz25, squidsz28, squidsz71, squidsz36, s..."
44,17521775051,42,"(2, 2, 21, 6, 7, 2, 2)",7,"(squidsz27, squidsz30, squidsz39, squidsz26, s..."
45,18639888315,27,"(6, 15, 6)",3,"(squidsz73, squidsz33, squidsz10)"
48,18655459887,30,"(7, 6, 2, 15)",4,"(squidsz77, squidsz82, squidsz84, squidsz20)"
55,17605056966,29,"(15, 14)",2,"(squidsz67, squidsz08)"
60,18596303032,88,"(15, 15, 4, 2, 15, 2, 2, 7, 2, 2, 22)",11,"(squidsz49, squidsz72, squidsz81, squidsz77, s..."
64,18678684568,57,"(2, 2, 7, 15, 7, 22, 2)",7,"(squidsz72, squidsz75, squidsz89, squidsz43, s..."
66,18613140335,43,"(2, 2, 15, 9, 15)",5,"(squidsz74, squidsz80, squidsz87, squidsz41, s..."
68,15621775789,22,"(7, 15)",2,"(squidsz76, squidsz83)"
79,18677426653,30,"(15, 15)",2,"(squidsz23, squidsz22)"
82,18675158676,37,"(15, 22)",2,"(squidsz19, squidsz14)"
83,13072851570,25,"(22, 3)",2,"(squidsz18, squidsz15)"
92,17623358283,37,"(15, 22)",2,"(squidsz02, squidsz70)"
94,17681643139,80,"(8, 11, 8, 4, 7, 8, 6, 6, 22)",9,"(squidsz77, squidsz13, squidsz32, squidsz89, s..."
98,13084440006,39,"(15, 7, 15, 2)",4,"(squidsz62, squidsz08, squidsz17, squidsz12)"
106,17640109250,37,"(15, 22)",2,"(squidsz41, squidsz34)"
109,15683737507,41,"(7, 6, 26, 2)",4,"(squidsz78, squidsz81, squidsz84, squidsz82)"
110,13256933307,32,"(2, 2, 3, 3, 22)",5,"(squidsz74, squidsz80, squidsz77, squidsz71, s..."
125,18519130519,7,"(4, 1, 1, 1)",4,"(squidsz13, squidsz16, squidsz19, squidsz20)"
127,15564270123,39,"(6, 2, 7, 22, 2)",5,"(squidsz02, squidsz04, squidsz06, squidsz14, s..."
128,17557209792,27,"(22, 2, 3)",3,"(squidsz07, squidsz05, squidsz03)"
...,...,...,...,...,...
1005,17615007672,45,"(16, 7, 22)",3,"(squidsz71, squidsz33, squidsz26)"
1008,13298877028,89,"(35, 9, 45)",3,"(squidsz23, squidsz04, squidsz76)"
1010,15568294765,33,"(22, 7, 4)",3,"(squidsz25, squidsz14, squidsz01)"
1014,18575633133,29,"(2, 27)",2,"(squidsz70, squidsz08)"
1017,18500193308,35,"(6, 22, 7)",3,"(squidsz43, squidsz50, squidsz85)"
1019,17688794841,29,"(7, 22)",2,"(squidsz79, squidsz87)"
1021,16608707114,39,"(15, 22, 2)",3,"(squidsz82, squidsz75, squidsz73)"
1024,13113060025,36,"(22, 3, 2, 2, 2, 3, 2)",7,"(squidsz71, squidsz43, squidsz49, squidsz12, s..."
1031,13114909070,27,"(22, 5)",2,"(squidsz13, squidsz64)"
1034,18683725717,31,"(7, 2, 22)",3,"(squidsz16, squidsz22, squidsz87)"
1035,15577144455,29,"(7, 2, 20)",3,"(squidsz72, squidsz78, squidsz80)"
1036,13152166973,29,"(3, 2, 22, 2)",4,"(squidsz40, squidsz76, squidsz82, squidsz73)"
1041,13268223358,45,"(20, 25)",2,"(squidsz31, squidsz15)"
1042,18656690029,25,"(22, 3)",2,"(squidsz29, squidsz17)"
1044,13044372003,29,"(7, 22)",2,"(squidsz08, squidsz11)"
1057,18518537474,44,"(7, 3, 2, 2, 26, 2, 2)",7,"(squidsz12, squidsz21, squidsz23, squidsz20, s..."
1061,18680217859,52,"(7, 9, 36)",3,"(squidsz34, squidsz38, squidsz11)"
1064,13202288277,28,"(23, 2, 3)",3,"(squidsz07, squidsz03, squidsz68)"
1073,15631238661,37,"(10, 2, 25)",3,"(squidsz71, squidsz42, squidsz13)"
1075,17585073754,24,"(7, 2, 15)",3,"(squidsz32, squidsz40, squidsz09)"
1076,15632228584,28,"(2, 2, 24)",3,"(squidsz01, squidsz02, squidsz70)"
1077,17693223486,43,"(2, 3, 2, 36)",4,"(squidsz31, squidsz27, squidsz34, squidsz68)"
1084,16630503539,75,"(31, 44)",2,"(squidsz39, squidsz43)"
1090,15506985023,8,"(3, 1, 1, 1, 1, 1)",6,"(squidsz42, squidsz62, squidsz70, squidsz08, s..."
1092,15520002444,54,"(7, 42, 2, 3)",4,"(squidsz18, squidsz30, squidsz27, squidsz24)"
1093,13124281354,14,"(3, 3, 2, 3, 1, 1, 1)",7,"(squidsz62, squidsz69, squidsz04, squidsz06, s..."
1095,18650783771,16,"(3, 2, 3, 2, 3, 1, 1, 1)",8,"(squidsz47, squidsz61, squidsz66, squidsz01, s..."
1101,13230109585,13,"(3, 2, 2, 3, 1, 1, 1)",7,"(squidsz47, squidsz62, squidsz50, squidsz33, s..."
1102,18565156334,5,"(1, 3, 1)",3,"(squidsz32, squidsz26, squidsz30)"
1105,13060038553,15,"(3, 3, 2, 1, 3, 1, 1, 1)",8,"(squidsz35, squidsz74, squidsz40, squidsz78, s..."

#### 查看这些客户当日是否有其他返回码的请求

In [27]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time(BEGIN_DATE),'$lte':date_to_time(END_DATE)},'tel':{'$in':tmp_3.tel.values.tolist()}})
data2=list(data)
data2=pd.DataFrame(x for x in data2)
some_sid_http_proxy=get_proxy(data2)
some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
some_sid_http_proxy_pd=get_new_tel_list(some_sid_http_proxy_pd)

In [28]:
some_sid_http_proxy_pd

,http_req_count,http_unique,http_unique_count,req_count,tel
0,"(24, 15, 16)","(squidsz32, squidsz47, squidsz20)",3,55,13001350252
1,"(22, 7)","(squidsz66, squidsz64)",2,29,13004960337
2,"(22, 15)","(squidsz79, squidsz61)",2,37,13007985245
3,"(15, 2, 2)","(squidsz44, squidsz43, squidsz88)",3,19,13013093266
4,"(7, 22, 2, 35)","(squidsz15, squidsz25, squidsz20, squidsz90)",4,66,13014025246
5,"(15, 15)","(squidsz66, squidsz48)",2,30,13015040999
6,"(16, 15)","(squidsz32, squidsz73)",2,31,13021788867
7,"(38, 19, 29, 30)","(squidsz20, squidsz35, squidsz81, squidsz65)",4,116,13023623122
8,"(3, 22)","(squidsz31, squidsz45)",2,25,13023987737
9,"(15, 15)","(squidsz22, squidsz76)",2,30,13027537067
10,"(2, 22, 5)","(squidsz83, squidsz84, squidsz75)",3,29,13032203117
11,"(6, 2, 2, 22, 2, 2, 2)","(squidsz84, squidsz88, squidsz41, squidsz03, s...",7,38,13033936099
12,"(15, 15)","(squidsz90, squidsz69)",2,30,13036666967
13,"(3, 26)","(squidsz77, squidsz45)",2,29,13042038690
14,"(22, 7)","(squidsz11, squidsz08)",2,29,13044372003
15,"(2, 6, 8, 20)","(squidsz85, squidsz62, squidsz13, squidsz76)",4,36,13048220672
16,"(23, 15)","(squidsz63, squidsz69)",2,38,13051189444
17,"(4, 16, 2)","(squidsz82, squidsz02, squidsz45)",3,22,13052699900
18,"(3, 3, 2, 1, 3, 1, 1, 1)","(squidsz35, squidsz74, squidsz40, squidsz78, s...",8,15,13060038553
19,"(1, 1)","(squidsz25, squidsz28)",2,2,13064295925
20,"(23, 15, 15, 15)","(squidsz81, squidsz43, squidsz05, squidsz23)",4,68,13067022670
21,"(22, 15)","(squidsz73, squidsz43)",2,37,13068823199
22,"(7, 22)","(squidsz64, squidsz13)",2,29,13070005639
23,"(22, 15)","(squidsz07, squidsz86)",2,37,13070639181
24,"(7, 2, 22)","(squidsz30, squidsz38, squidsz71)",3,31,13072470886
25,"(22, 3)","(squidsz18, squidsz15)",2,25,13072851570
26,"(16, 15)","(squidsz19, squidsz61)",2,31,13082659530
27,"(7, 15, 2, 15)","(squidsz08, squidsz17, squidsz12, squidsz62)",4,39,13084440006
28,"(22, 15)","(squidsz18, squidsz81)",2,37,13099902232
29,"(4, 22, 15)","(squidsz23, squidsz38, squidsz90)",3,41,13102992687
...,...,...,...,...,...
263,"(7, 8, 7, 8, 7, 7, 2, 4, 2, 6, 2)","(squidsz34, squidsz38, squidsz47, squidsz69, s...",11,60,18665099526
264,"(22, 15)","(squidsz32, squidsz38)",2,37,18666983415
265,"(22, 15)","(squidsz63, squidsz83)",2,37,18668602831
266,"(22, 15)","(squidsz14, squidsz19)",2,37,18675158676
267,"(3, 2, 22)","(squidsz23, squidsz29, squidsz34)",3,27,18675785554
268,"(3, 2, 2, 22, 3)","(squidsz01, squidsz04, squidsz05, squidsz79, s...",5,32,18675805670
269,"(3, 2, 2, 22, 7)","(squidsz89, squidsz45, squidsz25, squidsz30, s...",5,36,18676380902
270,"(22, 3, 2)","(squidsz70, squidsz64, squidsz68)",3,27,18676487721
271,"(6, 6, 22, 3, 15)","(squidsz10, squidsz42, squidsz36, squidsz27, s...",5,52,18677099057
272,"(7, 7, 8, 7, 7, 8, 7, 7, 6, 2, 2)","(squidsz84, squidsz49, squidsz62, squidsz38, s...",11,68,18677186659
273,"(24, 19)","(squidsz02, squidsz16)",2,43,18677197856
274,"(15, 15)","(squidsz22, squidsz23)",2,30,18677426653
275,"(7, 22, 2, 2, 2, 7, 15)","(squidsz29, squidsz32, squidsz30, squidsz72, s...",7,57,18678684568
276,"(22, 15)","(squidsz19, squidsz33)",2,37,18678761551
277,"(7, 9, 36)","(squidsz34, squidsz38, squidsz11)",3,52,18680217859
278,"(15, 15)","(squidsz30, squidsz72)",2,30,18680289959
279,"(5, 2, 2, 3, 3, 1, 1, 1)","(squidsz70, squidsz14, squidsz07, squidsz18, s...",8,18,18680604310
280,"(3, 22)","(squidsz02, squidsz06)",2,25,18680860127
281,"(15, 15)","(squidsz13, squidsz83)",2,30,18681187010
282,"(15, 15, 38)","(squidsz76, squidsz09, squidsz42)",3,68,18681339976
283,"(17, 2, 2, 15)","(squidsz43, squidsz83, squidsz88, squidsz31)",4,36,18682740632
284,"(22, 15)","(squidsz68, squidsz09)",2,37,18682891043
285,"(15, 15)","(squidsz11, squidsz19)",2,30,18682909687
286,"(23, 1)","(squidsz19, squidsz03)",2,24,18683416285
287,"(7, 2, 22)","(squidsz16, squidsz22, squidsz87)",3,31,18683725717
288,"(7, 3, 22)","(squidsz36, squidsz76, squidsz86)",3,32,18686158534
289,"(22, 7)","(squidsz34, squidsz26)",2,29,18686166770
290,"(15, 15)","(squidsz32, squidsz46)",2,30,18691948321
291,"(6, 20, 15, 5, 16)","(squidsz62, squidsz07, squidsz15, squidsz26, s...",5,62,18697411443
292,"(2, 2, 7, 2, 2, 22)","(squidsz24, squidsz12, squidsz19, squidsz25, s...",6,37,18698857220

#### 这些用户当日不存在其他请求，由此推测可能是频繁变更IP地址引起封禁

### C、分析请求数量超过100的代理

In [32]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,new_tel_pd.req_count.values>50)
tmp_4=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_4

,tel,req_count,http_req_count,http_unique_count,http_unique
34,17677563578,81,"(9, 6, 8, 2, 6, 4, 10, 6, 2, 7, 2, 7, 2, 6, 2, 2)",16,"(squidsz48, squidsz28, squidsz89, squidsz32, s..."
60,18596303032,88,"(15, 15, 4, 2, 15, 2, 2, 7, 2, 2, 22)",11,"(squidsz49, squidsz72, squidsz81, squidsz77, s..."
64,18678684568,57,"(2, 2, 7, 15, 7, 22, 2)",7,"(squidsz72, squidsz75, squidsz89, squidsz43, s..."
94,17681643139,80,"(8, 11, 8, 4, 7, 8, 6, 6, 22)",9,"(squidsz77, squidsz13, squidsz32, squidsz89, s..."
213,13118018950,52,"(30, 22)",3,"(squidsz21, squidsz70)"
214,13001350252,55,"(16, 15, 24)",3,"(squidsz20, squidsz47, squidsz32)"
263,18665099526,60,"(7, 7, 8, 7, 4, 2, 8, 7, 2, 6, 2)",11,"(squidsz61, squidsz34, squidsz38, squidsz47, s..."
310,17600934668,58,"(8, 7, 7, 8, 6, 22)",6,"(squidsz19, squidsz01, squidsz34, squidsz42, s..."
347,17638345009,54,"(17, 15, 7, 15)",4,"(squidsz11, squidsz31, squidsz72, squidsz68)"
349,15691080889,73,"(7, 7, 2, 7, 9, 7, 6, 7, 6, 6, 7, 2)",12,"(squidsz85, squidsz29, squidsz90, squidsz70, s..."
445,13067022670,68,"(15, 15, 15, 23)",4,"(squidsz23, squidsz05, squidsz43, squidsz81)"
458,15584909890,60,"(15, 15, 15, 15)",4,"(squidsz42, squidsz34, squidsz28, squidsz31)"
486,18677099057,52,"(15, 6, 6, 22, 3)",5,"(squidsz23, squidsz10, squidsz42, squidsz36, s..."
513,18513580294,82,"(15, 15, 15, 15, 22)",5,"(squidsz29, squidsz81, squidsz24, squidsz49, s..."
566,15523893004,62,"(15, 15, 4, 4, 2, 22)",6,"(squidsz87, squidsz25, squidsz82, squidsz48, s..."
569,18538861100,91,"(15, 2, 6, 2, 30, 15, 21)",8,"(squidsz85, squidsz68, squidsz14, squidsz66, s..."
626,15508771192,63,"(7, 3, 26, 27)",4,"(squidsz71, squidsz84, squidsz48, squidsz29)"
634,15678899621,58,"(4, 8, 15, 7, 22, 2)",6,"(squidsz21, squidsz28, squidsz72, squidsz44, s..."
642,18677186659,68,"(7, 7, 8, 7, 7, 8, 7, 7, 6, 2, 2)",11,"(squidsz84, squidsz49, squidsz62, squidsz38, s..."
706,15661311869,60,"(3, 3, 2, 5, 32, 2, 1, 1, 3, 1, 5, 1, 1)",13,"(squidsz19, squidsz27, squidsz24, squidsz44, s..."
730,18697411443,62,"(5, 16, 15, 6, 20)",5,"(squidsz26, squidsz38, squidsz15, squidsz62, s..."
731,17658603459,61,"(6, 8, 6, 7, 6, 6, 6, 7, 7, 2)",10,"(squidsz05, squidsz36, squidsz81, squidsz22, s..."
808,18660059293,67,"(15, 15, 15, 22)",4,"(squidsz50, squidsz79, squidsz66, squidsz15)"
829,13107982225,51,"(23, 28)",2,"(squidsz31, squidsz65)"
881,15676761873,52,"(25, 27)",2,"(squidsz19, squidsz02)"
891,13258374502,74,"(23, 3, 7, 41)",4,"(squidsz47, squidsz24, squidsz75, squidsz84)"
893,13219042446,58,"(23, 7, 26, 2)",4,"(squidsz88, squidsz35, squidsz38, squidsz37)"
926,13023623122,57,"(19, 38)",2,"(squidsz35, squidsz20)"
961,17611266987,73,"(9, 8, 9, 1, 7, 8, 6, 8, 9, 6, 2)",11,"(squidsz04, squidsz26, squidsz84, squidsz39, s..."
1008,13298877028,89,"(35, 9, 45)",3,"(squidsz23, squidsz04, squidsz76)"
1061,18680217859,52,"(7, 9, 36)",3,"(squidsz34, squidsz38, squidsz11)"
1084,16630503539,75,"(31, 44)",2,"(squidsz39, squidsz43)"
1092,15520002444,54,"(7, 42, 2, 3)",4,"(squidsz18, squidsz30, squidsz27, squidsz24)"

#### 使用代理数量相对B情况要少，但是均存在某一个代理使用超过100的情况，可能是因为当日请求量超过阈值或者Ip地址发送变化引起

### D、分析C中代理使用量无超过100的情况发生

#### 由此可以看出，在首次请求时已经触发封禁

## 5、结论
### 1）、单次爬虫事务中，如果短时间内请求官网超过20次，可能被封禁
### 2）、多次爬虫事务中，如果使用多个ip代理请求官网，超过2个ip将可能被封禁
### 3）、联通反爬策略为，ip总请求次数超过3000，可能被封禁

# 6、采样爬取成功的联通，分析

In [33]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time(BEGIN_DATE),'$lte':date_to_time(END_DATE)},'status':0,'crawler_channel':{'$exists':False},'tel_info.flow_type':'10010'}).limit(40)
data2=list(data)
data2=pd.DataFrame(x for x in data2)
some_sid_http_proxy=get_proxy(data2)
some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
some_sid_http_proxy_pd=get_new_tel_list(some_sid_http_proxy_pd)

In [34]:
some_sid_http_proxy_pd

,http_req_count,http_unique,http_unique_count,req_count,tel
0,"(5,)","(squidsz22,)",1,5,13172462334
1,"(5, 22)","(squidsz88, squidsz79)",2,27,13058019229
2,"(13,)","(squidsz85,)",1,13,15622167727
3,"(16,)","(squidsz82,)",1,16,15686176761
4,"(5,)","(squidsz80,)",1,5,17639600305
5,"(16,)","(squidsz62,)",1,16,18657206755
6,"(17,)","(squidsz74,)",1,17,13094359757
7,"(16,)","(squidsz38,)",1,16,13093559016
8,"(15,)","(squidsz37,)",1,15,13055990244
9,"(36,)","(squidsz24,)",1,36,13106639628
10,"(15,)","(squidsz10,)",1,15,15693731215
11,"(15,)","(squidsz05,)",1,15,13048745894
12,"(3, 2, 19)","(squidsz73, squidsz75, squidsz68)",3,24,17603295284
13,"(16,)","(squidsz49,)",1,16,15618345676
14,"(3, 2, 3, 16)","(squidsz43, squidsz44, squidsz45, squidsz46)",4,24,18687129902
15,"(20,)","(squidsz89,)",1,20,18617532292
16,"(15,)","(squidsz88,)",1,15,17628721270
17,"(16,)","(squidsz86,)",1,16,13183880721
18,"(24,)","(squidsz79,)",1,24,13004992973
19,"(17,)","(squidsz37,)",1,17,17607611301
20,"(15,)","(squidsz36,)",1,15,17660637967
21,"(27,)","(squidsz29,)",1,27,13123163623
22,"(23,)","(squidsz24,)",1,23,13286527496
23,"(24,)","(squidsz23,)",1,24,13148977217
24,"(19,)","(squidsz09,)",1,19,13226634649
25,"(16,)","(squidsz01,)",1,16,15506928889
26,"(15,)","(squidsz70,)",1,15,18589880007
27,"(16,)","(squidsz66,)",1,16,15610163239
28,"(7, 2, 19)","(squidsz49, squidsz62, squidsz65)",3,28,13011222059
29,"(7, 2, 7, 3, 19, 2)","(squidsz37, squidsz39, squidsz86, squidsz89, s...",6,40,13110222558
30,"(10,)","(squidsz80,)",1,10,13266233945
31,"(47,)","(squidsz24,)",1,47,18699146345
32,"(19,)","(squidsz23,)",1,19,17688713033
33,"(5,)","(squidsz15,)",1,5,13267471727
34,"(15,)","(squidsz07,)",1,15,13060777104
35,"(16,)","(squidsz67,)",1,16,13049160418
36,"(5,)","(squidsz64,)",1,5,15514350712
37,"(20,)","(squidsz61,)",1,20,17605314241
38,"(22,)","(squidsz50,)",1,22,13247392067

In [35]:
some_sid_http_proxy_pd.req_count.mean()

18.82051282051282

#### 20181005 当日成功的联通爬取平均使用代理次数为18